<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="KDE is an open community of friendly people who want to create a world in which everyone has control over their digital life and enjoys freedom and privacy.">
  <meta name="author" content="">
  <title>Krita Fund - fund.Krita.org</title>

  {% load static %}
  <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
  <script src="{% static 'js/vendor/js.cookie.js' %}"></script>
  <!-- CDN CSS -->
  <link href="https://cdn.kde.org/aether-devel/version/bootstrap.42906a1a.css" rel="stylesheet">
  {% load static %}
  <link href="{% static 'css/kde-main.css' %}?1rerere" rel="stylesheet"></script>
  {% block head %}
  {% endblock %}
</head>
<body class="page-devfund {{ page_id }}">{% block body %}
    <main>
      <div class="notice-wrapper container">
        {% if messages %}
          {% for message in messages %}
            <div class="show notice error notice-error"><span class="notice-message">{{ message }}</span></div>
          {% endfor %}
        {% endif %}
      </div>
      {% block page_header %}

      {% block navbar_tertiary %}{% endblock navbar_tertiary %}
      {% endblock page_header %}

      {% load looper %}
      {% block content %}
      <div class="container d-flex justify-content-center">
        <section class="checkout col-12 col-md-8 col-lg-7 mx-auto">
          <div class="card">
            <div class="card-header">
              <div class="d-flex justify-content-between">
                <a class="text-muted" href="/">
                  Krita Fund
                </a>
                <a title="Change plan" href="{% url 'looper:checkout_choose_plan_variation' plan_id=plan.id current_plan_variation_id=plan_variation.id %}">Plan variations available</a>
              </div>
              <section class="plan-info d-flex align-items-center">
                <h2 class="my-0 pt-4">{{ plan.description }}</h2>
                <h2 class="ml-auto text-secondary my-0 pt-4"><a title="Change plan" href="{% url 'looper:checkout_choose_plan_variation' plan_id=plan.id current_plan_variation_id=plan_variation.id %}"><span>{{ plan_variation|pricing }}</span></a></h2>
              </section>
            </div>
            <div class="card-body p-4">
               {% block after_header %}{% endblock %}
            </div>
          </div>
        </section>
      </div>
      {% endblock %}
    </main>
  {% endblock body %}
  <script src="https://cdn.kde.org/aether-devel/version/braintree.6509dd9f.js"></script>
  {% block footer_scripts %}{% endblock footer_scripts %}
</body>
