<!DOCTYPE html>
<html class="blender-notes">
  <head></head>
  <body>
    <h3>Blender Fund Notes</h3>{% for note in notes %}
    <div class="note">{% if perms.blender_notes.delete_note %}
      <form class="delete" action="{% url 'notes:delete-note' app_label=app_label model_name=model_name object_id=object_id note_id=note.pk %}" method="POST">{% csrf_token %}
        <input type="submit" value="×" title="Delete this note. This is irreversable.">
      </form>{% endif %}
      <p>{{ note.note}}</p>
      <p class="author">
        {{ note.creator }} on {{ note.created|date:"D d-m-Y" }}&nbsp;{{ note.created|time:"H:i" }}</p>
    </div>{% endfor %}
    {% if perms.blender_notes.add_note %}
    <form action="{{ request.get_full_path }}" method="POST">
      {% csrf_token %}
      {{ form }}
      <div class="submit-row">
        <input type="submit" value="Add a New Note">
      </div>
    </form>
    <p class="help">
      This notes system is separate from the rest of the form. Edit &amp; save
      one at the time, or you'll loose stuff.
    </p>{% endif %}
  </body>
</html>