$height-width-factor: 1.3
$m-logo-max-width-base: 400px
$m-logo-max-height: $m-logo-max-width-base / $height-width-factor

$m-logo-patron-height: 200px
$m-logo-patron-width: 300px

$m-logo-gold-width: $m-logo-max-width-base / 1.5
$m-logo-gold-height: $m-logo-gold-width / $height-width-factor

$m-logo-silver-width: $m-logo-max-width-base / 2
$m-logo-silver-height: $m-logo-silver-width / $height-width-factor

$m-logo-bronze-width: $m-logo-max-width-base / 2.5
$m-logo-bronze-height: $m-logo-bronze-width / $height-width-factor


=level-label
	background-color: hsl(165, 76%, 46%)
	border-radius: 3px
	color: white
	content: 'POPULAR'
	font-size: .6em
	font-weight: bold
	padding: 3px 10px 2px
	position: absolute
	left: -5px
	top: -5px

.memberships
	margin-top: 50px

	h1
		color: $color-text
		font-weight: lighter

.membership
	&-level
		margin: 30px auto
		text-align: center

		.section-title
			padding-bottom: 25px

			&:hover
				text-decoration: none

		> ul
			@extend .d-flex
			@extend .justify-content-center
			@extend .list-unstyled
			flex-wrap: wrap

			li
				@extend .align-items-center
				@extend .d-flex
				padding: ($spacer / 3) $spacer
				white-space: nowrap

				&:after
					display: none

			a
				@extend .p-2
				text-decoration: underline
				white-space: normal

				img
					transition: transform ease-in-out 100ms
					&:hover
						transform: scale(1.05)

			img
				max-width: 100%

				+media-xs
					margin-bottom: 20px

		// Name small
		.gold
			span.name
				max-width: 300px
				overflow: hidden
				text-overflow: ellipsis

		.platinum,
		.titanium,
		.diamond
			font-size: ($font-size-large / 1.5)

		.diamond
			font-weight: bold

			a
				color: $primary

		.corporate-bronze
			font-size: $font-size-large
			img
				max-height: $m-logo-bronze-height

				@include media-breakpoint-up(lg)
					max-width: $m-logo-bronze-width

		.corporate-silver
			font-size: $font-size-larger
			img
				max-height: $m-logo-silver-height

				@include media-breakpoint-up(lg)
					max-width: $m-logo-silver-width

		.corporate-gold
			font-size: $font-size-largest
			img
				max-height: $m-logo-gold-height

				@include media-breakpoint-up(lg)
					max-width: $m-logo-gold-width

		.patron
			img
				max-height: $m-logo-patron-height

				@include media-breakpoint-up(lg)
					max-width: $m-logo-patron-width

.levels
	color: white
	padding-bottom: 50px
	position: relative
	text-align: center
	overflow: hidden

	*
		position: relative
		z-index: 1

	&-notes // levels-notes
		color: rgba(white, .8)

	&-background
		background: url('../images/background_honeycomb_blue.png') repeat #2cbefb
		position: absolute !important
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: 0 !important

.bf-badge
	display: block
	max-width: 48px

.credits
	@extend .separator-slanted
	background-color: $color-background
	overflow: initial
	position: relative

	&:after
		border-top-color: transparent !important
		border-right-color: $color-background !important
		bottom: initial
		top: -50px

.l-table
	@extend .list-unstyled
	@extend .mt-4
	@extend .mx-auto
	+box-card
	color: $body-color
	display: flex
	flex-direction: column
	max-width: 840px

	li:last-child a
		border: none

.l-table-row,
.l-table-header
	@extend .list-unstyled
	box-shadow: inset 0 0 1px rgba(black, .33)
	display: flex

	&:hover
		background-color: rgba($color-background-dark, .1)
		text-decoration: none

	&.is-own,
	&.is-selected,
	&.is-corporate
		box-shadow: none

	&.is-own
		background-color: hsl(165, 76%, 65%)
		background-image: linear-gradient(13deg, hsl(165, 86%, 45%), hsl(165, 76%, 75%))
		color: $white

		.m-price
			color: $white

		svg
			fill: $white

		&:after
			+level-label
			background-color: $white
			color: hsl(165, 76%, 45%)
			content: 'YOU HAVE THIS'

	&.is-selected
		background-color: white
		box-shadow: 0 0 25px rgba(black, .2)
		border-radius: $border-radius * 2
		transform: scale(1.02)
		z-index: 1

		.detail-badge
			opacity: 1

	// Level highlighted by default.
	&.is-popular
		background-color: hsla(195, 100%, 75%, .1)
		box-shadow: inset 0 0 1px hsl(195, 100%, 75%)

		&:after
			+level-label

	&.is-corporate
		background-color: $dark
		border-bottom-left-radius: $border-radius
		border-bottom-right-radius: $border-radius
		color: $light

.l-table-header
	color: rgba($body-color, .8)
	background-color: $color-background
	border-top-left-radius: $border-radius
	border-top-right-radius: $border-radius
	font-size: $font-size-sm

	.l-table-cell:first-child
		justify-content: start

.l-table-cell
	align-items: center
	display: flex
	flex: 1
	justify-content: center
	padding: ($spacer / 2) $spacer / 2
	user-select: none
	white-space: nowrap

	@include media-breakpoint-up(lg)
		padding: $spacer $spacer * 2

	&.m-level
		align-items: start
		flex-direction: column
		text-align: left
		min-width: 125px

		@include media-breakpoint-up(lg)
			min-width: 150px

	&[data-toggle="popover"]
		cursor: pointer

	i
		color: rgba($body-color, .5)
		padding-left: $spacer / 3

	> span
		align-items: center
		display: flex

		.l-name
			display: none

			@include media-breakpoint-up(lg)
				display: block

.m-name
	font-size: $font-size-lg

.m-price
	color: rgba($body-color, .8)
	font-size: $font-size-base

.checkmark
	svg
		fill: #62d4c4
