{% extends "admin/base.html" %}
{% load static %}
{% load pipeline %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block extrastyle %}{{ block.super }}
{% stylesheet 'blender_notes' %}
<link rel="icon" href="{% static 'images/favicon.ico' %}">
<link rel="stylesheet" href="{% static 'css/vendor/toastr.min.css' %}" type="text/css"/>{% endblock %}
{% block extrahead %}
<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor/toastr.min.js' %}"></script>
<script src="{% static 'js/vendor/clipboard.min.js' %}"></script>
{% javascript 'blender_notes' %}
<script>
  toastr.options = {
  	"closeButton": true,
  	"progressBar": false,
  	"positionClass": "toast-bottom-right",
  }
  
  var clipboard;
  function start_clipboard_js() {
  	let selector = '*[data-clipboard-text]';
  	clipboard = new ClipboardJS(selector);
  	clipboard.on('success', function(e) {
  		var message = '';
  		if (e.trigger.dataset.copyOkMessage) {
  			message = e.trigger.dataset.copyOkMessage;
  		}
  		toastr.info(message, 'Copied to clipboard');
  	});
  	clipboard.on('error', function(e) {
  		toastr.error(e, 'Unable to access clipboard');
  	});
  
  	/* Prevent an <a href="xxx" data-clipboard-text="xxx"> link from actually being visited when
  	 * clicking on it -- it should just copy to the clipboard. By including the to-be-copied
  	 * link in the href attribute the standard "Copy Link" functionality of the browser will
  	 * also still work. */
  	$(selector).click(function(evt) { evt.preventDefault(); });
  }
  window.addEventListener("load", start_clipboard_js);
  
</script>{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>{% endblock %}
{% block nav-global %}{% endblock %}
