{% extends "settings/membership_base.html" %}
{% load static %}
{% load pipeline %}

{% block after_membership_info %}
<h2>Extend your Membership</h2>
<p>
  Here you can pay any amount you want to extend your membership. Your current membership
  level <strong>{{ membership.level.name }}</strong> equates to
  <strong>{{ price_per_month.with_currency_symbol }}&nbsp;per&nbsp;month</strong>.
  
</p>
<p>Currently your membership will want renewing on {{ subscription.next_payment|date }}.</p>
<p id="nothing_entered_text">Enter any amount to compute the new renewal date.</p>
<p id="new_date_text" style="display: none">The new renewal date<sup>*</sup> will be <strong><span id="new_renewal_date">TBD</span></strong>
</p>
<form class="checkout-form pt-3" id="payment-form" method="post"
      data-looper-payment-form="true"
      data-braintree-client-token="{{ client_token }}">{% csrf_token %}
  <section class="checkout-form-fields">
    <ul class="form">{{ form.as_ul }}</ul>
    <div id="gateway-errors"></div>
  </section>
  <hr/>
  <button class="btn btn-filled-success w-100" id="submit-button" type="submit"><i class="fa fa-check"></i><span id="submit-button-text">Pay Any Amount</span></button>
</form>
<p><small><sup>*</sup>The actual renewal date may differ from the precalculated date by a day, owing to
    timezone differences, time between this calculation and the actual payment coming through,
    etc.</small></p>{% if subscription.collection_method == 'automatic' %}
<p><small><sup>**</sup>Paying here does not change the payment method associated with your membership.
    Future automatic payments will be charged to your
    {{ subscription.payment_method.recognisable_name }} regardless of how you pay here.</small></p>{% endif %}
{% endblock %}
{% block footer_scripts %}
<script src="{% static 'js/vendor/select2.min.js' %}"></script>
{% include "looper/scripts.html" %}
<script>
  //- Initialize the nicer country picker.
  $('#id_country').select2();

  let price_per_day = {{ price_per_day.decimals_string }};
  let price_per_month = {{ price_per_month.decimals_string }};
  let next_payment = new Date("{{ subscription.next_payment.isoformat }}");
  
  function compute_renewal() {
  	let amount_as_str = $('#id_price').val();
  	let amount_as_decimal = parseFloat(amount_as_str);
  
  	// NaN is weird in that (x != x) is true for x=NaN.
  	if (typeof amount_as_decimal != 'number' || amount_as_decimal != amount_as_decimal) {
  		// Not a float or integer.
  		$('#submit-button').attr('disabled', 'disabled').removeClass('btn-success');
  		$('#new_date_text').hide();
  		$('#nothing_entered_text').show();
  		return;
  	}
  
  	// Compute the next date based on the price per month.
  	let nr_of_months = amount_as_decimal / price_per_month;
  	let whole_months = Math.floor(nr_of_months);
  	let nr_of_days = (nr_of_months - whole_months) * 30.4;
  	let new_next_payment = new Date(next_payment);
  	new_next_payment.setMonth(new_next_payment.getMonth() + whole_months);
  	new_next_payment.setDate(next_payment.getDate() + nr_of_days);
  	// console.log({
  	// 	amount_as_str: amount_as_str,
  	// 	amount_as_decimal: amount_as_decimal,
  	// 	nr_of_days: nr_of_days,
  	// 	price_per_day: price_per_day,
  	// 	next_payment: next_payment,
  	// 	new_next_payment: new_next_payment,
  	// });
  
  	// Shovel everything into the DOM.
  	$('#new_renewal_date').text(
  		new_next_payment.toLocaleDateString('en',
  		 {weekday: 'long', month: 'long', year: 'numeric', day: 'numeric'}));
  
  	$('#nothing_entered_text').hide();
  	$('#new_renewal_date').show();
  	$('#new_date_text').show();
  	$('#submit-button_text').text('Pay {{ price_per_month.currency_symbol }}' + amount_as_str);
  }
  
  $('#id_price').on('change', compute_renewal);
  $('#id_price').on('keyup', compute_renewal);
  compute_renewal();

</script>{% endblock %}
