{% extends "settings/base.html" %}
{% load humanize %}
{% load wagtailcore_tags %}
{% block content_settings %}
{{ block.super }}
<h2 class="mt-2">Memberships</h2>
{% if memberships %}
  <table class="table table-striped m-3">
    {% regroup memberships by status as memb_by_status %}
    {% for status, membs in memb_by_status %}
    <tr class="status-header membership-{{ status }}">
      <th colspan="3">
        <h4 class="m-0">{{ status.title }}</h4>
      </th>
    </tr>
    {% for m in membs %}
      <tr class="membership-{{ status }}">
      <td><a href="{% url 'settings_membership_edit' m.id %}">{{ m.level }}</a></td>
      <td><a class="text-muted" href="{% url 'settings_membership_edit' m.id %}">{{ m.display_name }}</a></td>
      <td><a class="text-muted" href="{% url 'settings_membership_edit' m.id %}">{{ m.created_at | naturaltime }}</a></td>
    </tr>{% endfor %}
    {% endfor %}
  </table>
{% else %}
  <div class="pt-2">
    <p>You do not have a KDE e.V. Supporting membership yet.</p>
    <p><a class="btn btn-filled-success px-5" href="{% slugurl 'home' %}#join"><i class="fa fa-heart"></i>Subscribe Now</a></p>
  </div>
{% endif %}
{% endblock content_settings %}
