
{% extends "blender_fund/layout.html" %}
{% load membership_tags %}
{% load looper %}
{% load static %}
{% load pipeline %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}

{% block page_header %}
  <div class="row" id="frontpage-slideshow">
    <div id="hero" class="col-md-12">
      <svg width="0" height="0">
      <defs>
      <clipPath id="clip-1" clipPathUnits="objectBoundingBox">
      <polygon points="0 0, 1 0, 1 1, 0 .7"></polygon>
      </clipPath>
      </defs>
      </svg>
      <div id="slogan" class="text-right p-0">
        <div class="p-4">
          <h3 class="mt-3">{{ page.title }}</h3>
          {% if page.tagline %}
          <div class="featured-subtitle">
            <p>{{ page.tagline }}</p>
            <div class="d-flex align-items-center justify-content-between">
              <div style="margin-left: auto" class="d-flex"><small class="d-flex align-items-center"><div class="rounded-circle mr-2 bg-corporate progress-legend"></div><span>Corporate</span></small><small class="d-flex align-items-center p-3"><div class="rounded-circle mr-2 bg-individual progress-legend"></div><span>Individual</span></small></div>
            </div>
            <div class="progress-label final ml-auto" title="Final Milestone"><strong>{{settings.FUND_INCOME_TARGET_LABEL}}</strong> <span>{{currency_symbol}}&nbsp;{{thermo_high}}k / month</span></div>
          </div>
          {% endif %}
        </div>
        {% with progress_corporate=thermo_percentages.CORP progress_individual=thermo_percentages.INDIV %}
          <div class="stats-progress">
            <div class="progress-container">
              <div class="progress-label current" style="left: calc({{ thermo_total_percentage }}% - 8px); bottom: -10px; position: relative;" title="Current Monthly Contributions">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="20"><path style="fill:#232329;fill-opacity:1;stroke:none" d="M 4 2 C 2.343 2 1 3.343 1 5 C 1 9 6 12 8 14 C 10 12 15 9 15 5 C 15 3.343 13.657 2 12 2 C 9 2 8 4 8 4 C 8 4 7 2 4 2 z M 4 3 C 5.7191685 2.9867647 6.6355364 3.8577363 7.3359375 5 L 8.6269531 5 C 9.4443651 3.7484379 10.628397 3.0161834 12 3 C 13.116666 3 14 3.8833339 14 5 C 14 6.5833333 12.964401 8.1215362 11.542969 9.5429688 C 10.357873 10.728065 9.0760263 11.709469 8 12.669922 C 6.9239737 11.709469 5.6421273 10.728065 4.4570312 9.5429688 C 3.0355987 8.121536 2 6.5833333 2 5 C 2 3.8833339 2.8833339 3 4 3 z " /></svg>
              </div>
            </div>
            <div class="progress position-relative">
              <div class="progress-bar bg-corporate" title="{{ memberships_per_category.CORP }} corporate members account for {{ progress_corporate }}% progress toward our Final Milestone" role="progressbar" style="width: {{ progress_corporate }}%;"
                aria-valuenow="{{ progress_corporate }}" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-individual" title="{{ memberships_per_category.INDIV }} individual members account for {{ progress_individual }}% progress toward our Final Milestone" role="progressbar" style="width: {{ progress_individual }}%;"
                aria-valuenow="{{ progress_individual }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          </div>
      {% endwith %}
      </div>
    </div>
  </div>

  <div class="row" id="header-decoration"><div class="col-md-12">&nbsp;</div></div>

  {% block navbar_tertiary %}
  {% endblock navbar_tertiary %}
{% endblock page_header %}

{% block content %}
<section class="stats-container">
  <div class="stats-content">
    <div class="stats-intro">
      <div class="stats-lead">Join the Development Fund and support<br /> the Krita Foundation to work on<br /> <a href="{% slugurl 'about' %}">Krita development</a>.</div>
    </div>
    <div class="stats-items">
      <div class="stats-item stats-pos-top flex-column">
        <div class="stats-sum"><span class="currency-symbol">{{ summed_income.currency_symbol }}</span><span class="js-count">{{ summed_income.just_whole }}</span></div>
        <h5 class="stats-sum-name">MONTHLY <br/> CONTRIBUTION <small><a href="#donation-notice">**</a></small></h5>
      </div>
      <div class="stats-item stats-pos-middle stats-size-small flex-column">
        <div class="stats-sum js-count">{{ memberships_per_category.INDIV }}</div>
        <h5 class="stats-sum-name">INDIVIDUALS</h5>
      </div>
      <div class="stats-item stats-pos-bottom stats-size-small flex-column">
        <div class="stats-sum js-count">{{ memberships_per_category.CORP }}</div>
        <h5 class="stats-sum-name">CORPORATE</h5>
      </div>
    </div>
  </div>
</section>
<section class="diagonal-box bg-blue py-5">
  <div class="col-12">
    <h2 class="mt-0 text-center">Choose Your Membership</h2>
    <ul class="l-table p-0 mx-auto">
      <li class="l-table-header">
        <div class="l-table-cell m-level"><span>LEVEL</span></div>
        <div class="l-table-cell" data-toggle="tooltip" data-placement="top" title="Show your badge in any MyKDE powered website."><span><span class="l-name">BADGE</span><i class="fa fa-question-circle"></i></span></div>
        <div class="l-table-cell" data-toggle="tooltip" data-placement="top" title="Display your (or your company) name."><span><span class="l-name">NAME</span><i class="fa fa-question-circle"></i></span></div>
	<div class="l-table-cell" data-toggle="tooltip" data-placement="top" title="Link your display name to a URL."><span><span class="l-name">LINK</span><i class="fa fa-question-circle"></i></span></div>
        <div class="l-table-cell" data-toggle="tooltip" data-placement="top" title="Display a logo."><span><span class="l-name">LOGO</span><i class="fa fa-question-circle"></i></span></div>
      </li>
      {% for m, plan_variation in membership_levels %}
        {% with perks=m.visible_attributes_set %}
        <li>
          <a class="id-{{ m.plan.id }}{% if m.is_popular %} is-popular{% endif %}{% if m.name in user_membership_levels %} is-own{% endif %} l-table-row" href="{% url 'looper:checkout_new' m.plan.id %}" title="Choose {{ m.name }} membership">
            <div class="l-table-cell m-level">
              <strong class="m-name">
                {% if m.name in user_membership_levels %}
                  <i class="fa fa-heart"></i>
                {% endif %}
                {{ m.name | upper }}
              </strong>
              <div class="m-price">{{ plan_variation|pricing }}</div>
              {% if m.details_html %}<small class="pt-1">{{ m.details_html | safe }}</small>{% endif %}
            </div>
            <div class="l-table-cell"><img class="bf-badge" src="{{m.image.url}}" alt="badge for {{ m.name }} membership" height="60"></div>
  
            <div class="l-table-cell">
              {% if 'display_name' in perks %}
                <div class="checkmark">
                  <svg xmlns="http://www.w3.org/2000/svg" height="22" width="22">
                    <path d="M 11,22 A 11,11 0 1 1 11,0 11,11 0 0 1 11,22 Z M 15.565,7.2421249 9.1217509,13.22475 6.6371255,10.790999 A 1.3753512,1.3753512 0 1 0 4.7121258,12.755875 L 8.1345014,16.10675 A 1.375,1.375 0 0 0 10.032,16.13287 l 7.403,-6.874999 a 1.375,1.375 0 1 0 -1.87,-2.0157509 z"></path>
                  </svg>
                </div>
              {% endif %}
            </div>
            <div class="l-table-cell">
              {% if 'url' in perks %}
                <div class="checkmark">
                  <svg xmlns="http://www.w3.org/2000/svg" height="22" width="22">
                    <path d="M 11,22 A 11,11 0 1 1 11,0 11,11 0 0 1 11,22 Z M 15.565,7.2421249 9.1217509,13.22475 6.6371255,10.790999 A 1.3753512,1.3753512 0 1 0 4.7121258,12.755875 L 8.1345014,16.10675 A 1.375,1.375 0 0 0 10.032,16.13287 l 7.403,-6.874999 a 1.375,1.375 0 1 0 -1.87,-2.0157509 z"></path>
                  </svg>
                </div>
              {% endif %}
            </div>
            <div class="l-table-cell">
              {% if 'logo' in perks %}
                <div class="checkmark">
                  <svg xmlns="http://www.w3.org/2000/svg" height="22" width="22">
                    <path d="M 11,22 A 11,11 0 1 1 11,0 11,11 0 0 1 11,22 Z M 15.565,7.2421249 9.1217509,13.22475 6.6371255,10.790999 A 1.3753512,1.3753512 0 1 0 4.7121258,12.755875 L 8.1345014,16.10675 A 1.375,1.375 0 0 0 10.032,16.13287 l 7.403,-6.874999 a 1.375,1.375 0 1 0 -1.87,-2.0157509 z"></path>
                  </svg>
                </div>
              {% endif %}
            </div>
          </a>
        </li>
        {% endwith %}
      {% endfor %}
      <li>
        <a class="l-table-row" href="/corporate-memberships">
          <div class="l-table-cell m-level">
            <strong class="m-name">CORPORATE</strong> <span>Learn more.</span>
          </div>
          <div class="l-table-cell"><img class="bf-badge" height="60" src="{% static 'images/badge_corporate.png' %}"/></div>
            <div class="l-table-cell">
              <div class="checkmark">
                <svg xmlns="http://www.w3.org/2000/svg" height="22" width="22">
                  <path d="M 11,22 A 11,11 0 1 1 11,0 11,11 0 0 1 11,22 Z M 15.565,7.2421249 9.1217509,13.22475 6.6371255,10.790999 A 1.3753512,1.3753512 0 1 0 4.7121258,12.755875 L 8.1345014,16.10675 A 1.375,1.375 0 0 0 10.032,16.13287 l 7.403,-6.874999 a 1.375,1.375 0 1 0 -1.87,-2.0157509 z"></path>
                </svg>
              </div>
            </div>
            <div class="l-table-cell">
              <div class="checkmark">
                <svg xmlns="http://www.w3.org/2000/svg" height="22" width="22">
                  <path d="M 11,22 A 11,11 0 1 1 11,0 11,11 0 0 1 11,22 Z M 15.565,7.2421249 9.1217509,13.22475 6.6371255,10.790999 A 1.3753512,1.3753512 0 1 0 4.7121258,12.755875 L 8.1345014,16.10675 A 1.375,1.375 0 0 0 10.032,16.13287 l 7.403,-6.874999 a 1.375,1.375 0 1 0 -1.87,-2.0157509 z"></path>
                </svg>
              </div>
            </div>
            <div class="l-table-cell">
              <div class="checkmark">
                <svg xmlns="http://www.w3.org/2000/svg" height="22" width="22">
                  <path d="M 11,22 A 11,11 0 1 1 11,0 11,11 0 0 1 11,22 Z M 15.565,7.2421249 9.1217509,13.22475 6.6371255,10.790999 A 1.3753512,1.3753512 0 1 0 4.7121258,12.755875 L 8.1345014,16.10675 A 1.375,1.375 0 0 0 10.032,16.13287 l 7.403,-6.874999 a 1.375,1.375 0 1 0 -1.87,-2.0157509 z"></path>
                </svg>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <div class="text-center">
      <small class="mt-3">
        * Other pricing options available.
        Displaying your badge, name or company is opt-in.
        You control it being public or private.
      </small>
    </div>
    <div id="donation-notice" class="text-center" style="position: relative; y-index: 1">
      <small class="mt-3">
        ** The donation amount displayed on this page also
        include the donation from our
        <a href="https://krita.org/en/support-us/donations/">old system</a>.
      </small>
    </div>
  </div>
</section>
{% if memberships.Gold or memberships.Platinum %}
<section class="credits js-fade py-4 content-container" id="credits">
  <div class="memberships"><a href="#credits">
    <h1 class="text-center">Credits</h1></a>{% if memberships.Patron %}
    <div class="membership-level" id="credits-patron"><a class="section-title" href="#credits-patron">
    <h2 class="text-center">
      <ul class="patron">{% for m in memberships.Patron %}
        <li>{% membership_credit m %}</li>{% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if memberships.Corporate_Gold %}
    <div class="membership-level" id="credits-corporate-gold"><a class="section-title" href="#credits-corporate-gold">
        <h2 class="text-center">Corporate Gold</h2></a>
      <ul class="corporate-gold">{% for m in memberships.Corporate_Gold %}
        <li>{% membership_credit m %}</li>{% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if memberships.Corporate_Silver %}
    <div class="membership-level" id="credits-corporate-silver"><a class="section-title" href="#credits-corporate-silver">
        <h2 class="text-center">Corporate Silver</h2></a>
      <ul class="corporate-silver">
        {% for m in memberships.Corporate_Silver %}
          <li>{% membership_credit m %}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if memberships.Corporate_Bronze %}
    <div class="membership-level" id="credits-corporate-bronze"><a class="section-title" href="#credits-corporate-bronze">
        <h2 class="text-center">Corporate Bronze</h2></a>
      <ul class="corporate-bronze">{% for m in memberships.Corporate_Bronze %}
        <li>{% membership_credit m %}</li>{% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if memberships.Diamond %}
    <div class="membership-level" id="credits-diamond"><a class="section-title" href="#credits-diamond">
        <h2 class="text-center">Diamond</h2></a>
      <ul class="diamond">{% for m in memberships.Diamond %}
        <li>{% membership_credit m %}</li>{% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if memberships.Titanium %}
    <div class="membership-level" id="credits-titanium"><a class="section-title" href="#credits-titanium">
        <h2 class="text-center">Titanium</h2></a>
      <ul class="titanium">{% for m in memberships.Titanium %}
        <li>{% membership_credit m %}</li>{% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if memberships.Platinum %}
    <div class="membership-level" id="credits-platinum"><a class="section-title" href="#credits-platinum">
        <h2 class="text-center">Platinum</h2></a>
      <ul class="platinum">{% for m in memberships.Platinum %}
        <li>{% membership_credit m %}</li>{% endfor %}
      </ul>
    </div>
    {% endif %}
    {% if memberships.Gold %}
    <div class="membership-level" id="credits-gold"><a class="section-title" href="#credits-gold">
        <h2 class="text-center">Gold</h2></a>
      <ul class="gold">{% for m in memberships.Gold %}
        <li>{% membership_credit m %}</li>{% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</section>
{% endif %}
{% endblock content %}

{% block footer_scripts %}
{% javascript 'looper_currency' %}
<script>
$(function () {
  $('#js-currency').on('change', function(){
  
    let currency = (this.options[this.selectedIndex].getAttribute('data-currency'));
    set_preferred_currency(currency);
  });
  
  var offsetTop = 280;
  var winHeight = $(window).height();
  
  window.onresize = function() {
    winHeight = $(window).height();
  }
  
  $(window).scroll(function (event) {
      var scroll = $(window).scrollTop();
      var $div = $('.js-fade');
      var diff = $div.offset().top - winHeight + offsetTop;
  
      var classVisible = 'is-visible';
  
      if (!$div.hasClass(classVisible)){
        $div.addClass(classVisible,
          scroll >= diff
        );
      }
  });
  
  $(window).resize();
  $(window).scroll();

  $('[data-toggle="tooltip"]').tooltip()
  
  $('.js-count').each(function () {
    $(this).prop('Counter',1024).animate({
      Counter: $(this).text()
    }, {
      duration: 2000,
      easing: 'swing',
      step: function (now) {
        $(this).text(Math.ceil(now));
      }
    });
  });
});
</script>
{% endblock footer_scripts %}
