{% extends "blender_fund/layout.html" %}
{% block page_header %}
  <div class="row"><div id="slim-background" class="col-md-12"></div></div>
  <div class="row hidden-xs hidden-sm internal" id="header-decoration"><div class="col-md-12">&nbsp;</div></div>

{% block nav_secondary %}
  {% include "blender_fund/_navbar_secondary.html" %}
{% endblock nav_secondary %}

{% block navbar_tertiary %}{% endblock navbar_tertiary %}
{% endblock page_header %}

{% block content %}
  <div class="row">
    <div class="content-container col-md-12 default-template">
      <h2 class="mt-0">{% block box_title %}{% endblock %}</h2>
      {% block box_content %}{% endblock %}
    </div>
  </div>
{% endblock content %}
